@import "~bootstrap/dist/css/bootstrap.min.css";

ul {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 6rem;
  z-index: 3;
  text-decoration: none;
}

.input-group {
  width: 100%;
}

#searchBar {
  position: relative;
}

/* #searchBar i {
  position: absolute;
  padding: 7px;
  top: 0;
  right: 0;
  cursor: pointer;
} */

#searchBar input {
  height: 2.2rem;
}

input {
  width: 100%;
}

input:focus {
  outline: blue auto 1px;
}

.alert {
  color: red;
}
