<div id="search-component" class="w-75">
  <div id="searchBar">
    <i
      *ngIf="searchBox.value"
      class="fa-solid fa-xmark"
      (click)="searchBox.value = ''"
    ></i>
    <input
      #searchBox
      (click)="search(searchBox.value)"
      (input)="search(searchBox.value)"
      placeholder="Search"
      (focus)="searching = true"
      (blur)="searching = false"
    />
  </div>
  <!-- Search results -->
  <ul
    class="list-group h-50 w-75"
    *ngIf="searchBox.value && searching"
    tabindex="-1"
    (mouseenter)="focusOnList = true"
    (blur)="focusOnList = false"
    (focus)="focusOnList = true"
  >
    <div *ngFor="let movie of movies$ | async">
      <app-movie-item
        [movie]="movie"
        classNames="search-movie-item bg-dark text-white d-flex "
        (openModal)="onOpenModal(movie)"
      ></app-movie-item>
    </div>
  </ul>
</div>
