/* .modal{
  z-index: 2;
}

#search-component{
  position: absolute;
  left: 0;
  top: 0; 
  z-index: -1;
} */

input{
  border: black solid 1px;
  padding: .5rem;
  width: 100%;
  max-width: 600px;
}

input:focus {
  outline: blue auto 1px;
}
ul{
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;  */
}

#movie{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

#movieInfo{
  padding: 0 0.5em;
}

#movieInfo img{
  max-width: 100%;
}

#movieInfo h4{
  /* text-align: center; */
}

#movieInfo p{
  overflow: hidden;
  max-height: 100px;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}