@import '~bootstrap/dist/css/bootstrap.min.css';

#search-component{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

form{
  display: flex;
  flex-direction: column;
}

.button-group{
  display: flex;
  justify-content: flex-end;
}

input{
  /* border: black solid 1px; */
  padding: .5rem;
  width: 100%;
  align-self: center;
  max-width: 600px;
}

input:focus {
  outline: blue auto 1px;
}

.alert{
  color: red;
}

ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; 
  padding: 0 20%;
}

/* #movie{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
} */

/* #movieInfo{
  padding: 0 0.5em;
} */

/* #movieInfo img{
  max-width: 100%;
} */

/* #movieInfo h4{
} */

/* #movieInfo p{
  overflow: hidden;
  max-height: 100px;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           /* line-clamp: 3;
   -webkit-box-orient: vertical; */
/* } */ 

