<ng-template #modal>
  <div class="modal-backdrop" (click)="close()"></div> 
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.title }}</h5>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-primary"
            (click)="close()">
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>


  <!-- <div class="modal {{ modalConfig.size }}" >
    <h4 class="modal-header">
      {{ modalConfig.title }}
      <span class="modal-close" (click)="dismiss()">✕</span>
    </h4>
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button (click)="dismiss()">{{ modalConfig.closeButtonLabel }}</button>
    </div>
  </div>-->
  
  
</ng-template>
